lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.bak
*.exe
*.pdf
*.PNG
*.jpg
*.pyc
*.lnk
*.db
*.txt
*.ico
*.bat
Thumbs.db


pids
logs
results
fixtures

npm-debug.log
node_modules

/config.js
.DS_Store

static/jquery.slimscroll
static/jQuery
static/bower
static/assets