 .pic0{
    background-image: url(https://dl.dropboxusercontent.com/u/5902603/caura/slide1.jpg);
}
.pic1{
    background-image: url(https://dl.dropboxusercontent.com/u/5902603/caura/slide2.jpg);
}
.pic2{
    background-image: url(https://dl.dropboxusercontent.com/u/5902603/caura/slide3.jpg);
}
.bg-primary{
    padding: 20px 0;
}
nav.navbar.navbar-dark.navbar-fixed-top.top-nav-collapse{
    background-color: rgb(62, 68, 77);
    background-color: rgba(62, 68, 77, 0.60);
}
.footer-1 .upper {
    background-color: #737579;
}
.footer-1 .lower {
    background-color: #434446;
}
.blog-1 .blog-col .blog-preview-img .caption .caption-content {
    margin-top: 30px;
}
.nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after{
content: " ";
    display: none;
}
div#directory a {
    padding-left: 10px;
    font-size: 14px;
}
div#directory ul {
    list-style-type: none;
}
div#languages {
    float: right;
}
div.carousel-inner {
    text-shadow: rgba(0, 0, 0, 0.6) 0px 2px 2px;
}
/*.navbar-dark.top-nav-collapse {
border-color: rgba(62,68,77,.5);
background-color: #766B57;
}*/