body {
	margin-top: 125px; /* adjust this if the height of the menu bar changes */
}

.navbar-fixed-top .nav {
	padding: 15px 0;
}

footer {
	padding: 30px 0;	
}

.navbar {
	background-color: rgb(119, 108, 88);
	/*#1B2730;*/
}
.navbar-brand img {
	height: 40px;
}
#google-map, a.btn.btn-primary.btn-lg {
	margin-bottom:40px;
}

i.fa:hover {
    color: white;
}
.social {
    padding-top:0;
}
.fa-lg{
	font-size: 2em;
}
.fa {
    color: #F8AA1F; 
    /*rgb(116, 155, 192);*/
}
.offers i.fa:hover{
	color: #F8AA1F; 
}
.offers h4,.offers{
	color:#000;
}
.section{
	border-top: 1px solid #BDC3C7;
	padding-top:2em;
	margin-top:2em;
}
.no-line{
	border-top: 0;
}
.active{
	border-top: 0;
	padding-top:0;
	margin-top:0;
}
#footer {
    margin: 40px 0;
    padding: 30px 0;
    font-size: 12px;
    font-style: italic;
    color: #222;
}
div#languages {
float: right;
}
.stats-box {
	text-align: left;
	padding: 5px 12px 6px;
	margin-bottom:12px;
	border-radius: 5px;
	margin-right: 12px;
}
.learn-more-box{
	text-align: left;
	padding: 5px 12px 6px;
	margin-bottom:12px;
	border-radius: 5px;
}
.side-links {
	margin-top: -20px;
	margin-left:-60px;
	float: left;
	padding:0 0 0 0;
}
.bus-title{
	margin-top:0;
}
.navbar-brand{
	padding-top:5px;
}
hr{
	margin-bottom:0;
}
.target-audience,.target-audience:hover{
	color: #333;
}
div#offer-header {
	padding: 40px 0;
	text-align:center;
}
.right-column {
background-color: #F7F4EF;
}